<div class="card-form">
  <h1 class="text-center"><%= @parking_lot.title %></h1>
  <div class="d-flex justify-content-center mb-4">
    <img src="<%= url_for(@parking_lot.photos.first)%>" width="400" />
  </div>
  <%= simple_form_for(@parking_lot) do |f| %>
    <%= f.input :title, label: "Your New Title", required: false%>
    <%= f.input :price_per_day %>
    <%= f.input :overview, hint: "Minimun six characters" %>
    <%= f.submit %>
  <% end %>
</div>
