<h1 class="text-center">Parking Lots</h1>

<div class="cards">
  <%@parking_lots.each do |e| %>
    <%= link_to parking_lot_path(e), class: "no-deco" do %>
      <div class="card-trip">
        <img src="<%= url_for(e.photos.first)%>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= e.address %></h2>
          </div>
          <h2 class="card-trip-pricing"><%= e.price %></h2>
        </div>
      </div>
    <%end%>
  <%end%>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
