<h1 class="d-flex justify-content-center">My parking-lots</h1>

<div class="d-flex justify-content-center">
  <div class="flex-column">
    <% @parking_lots.each do |res| %>
      <div class="card mb-4" style="width: 80rem;">
          <div class="d-flex">
            <img src="<%= url_for(res.photos.first)%>" width="400" />
            <div class="d-flex">
              <div class="flex-column align-self-center p-3">
                <p><%= res.address %></p>
                <p><%= res.price %>R$ per day</p>
                <p></p>
              </div>
            </div>
            <div class="flex-column d-flex align-items-end justify-content-center w-100">
                <a href="/parking_lots/<%= res.id%>/edit"><button type="button" class="btn btn-primary mb-2" >Modify parking-lot</button></a>
                <%= link_to "Delete parking-lot", parking_lot_path(res), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

              <%# <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
              </div> %>
