<h1>Post a new parking-lot</h1>

<%= simple_form_for(@parking_lot) do |f| %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :overview %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>

<% end %>
