<div class="show-content">
  <div class="card-lot">
    <img src="<%= url_for(@parking_lot.photos.first)%>" />
    <div class="card-lot-infos">
      <div>
        <h2><%=@parking_lot.address%></h2>
        <p>$: <strong><%=@parking_lot.price%></strong> only.</p>
        <p><%=@parking_lot.overview%></p>
      </div>
      <div>
        <%= link_to "Book now", new_parking_lot_reservation_path(@parking_lot), class: "btn btn-flat" %>
      </div>
    </div>
</div>
