<!DOCTYPE html>
<html>
  <head>
    <title>RentVacancyGoTeam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container">
      <%= render "shared/navbar" %>
       <main id="main-content">
          <%= yield %>
        </main>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
